.modal-background{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-container{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: var(--color-background);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    text-align: center;
    
}
.modal-title{
    
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    padding-left: 20px;
    width: 90vw;
}

.modal-title .modal-container{
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.modal-container .modal-auth-body{
    flex: 50%;
    display: flex;
    font-size: 1.5rem;
}


.modal-close-button{
    display: flex;
}

.modal-close-button button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


.modal-container .modal-buttons{
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-button{
    background: transparent;
    border-width: 3px;
    border-color: transparent;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}

.modal-auth-button2{
    background: transparent;
    border-width: 3px;
    border-color: transparent;
    border-bottom-color: var(--color-orange);
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}


/*--------------------------------------------*/
.modal-select-auth-signup{
    padding-top: 30px;
    display: flex;
    padding-left: 20px;
    gap: 20px;
}
.modal-selected-option{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
}
.modal-select-option:hover{
    border-bottom: 4px solid var(--color-orange);
    transition: all 0.2s ease-out;
}

/*--------------------------------------------*/

.modal-auth-form{
    box-sizing: border-box;
}

.modal-auth-body{
    display: flex;
    flex-direction: column;
}
.modal-auth-form-wrapper{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    width: auto;
}

.modal-auth-form-fields{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: left;
    padding-top: 20px;
    padding-left: 5px;
    gap: 5px;
    width: auto;
    
}

.auth-form-input{
    color: black;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-color: transparent;
    
}

.auth-form-label{
    font-size: 17px;
    color: var(--color-bright-font);
}

.auth-form-button{
    background-color: var(--color-orange);
    margin-top: 10px;
    font-size: 20px;
    width: 90px;
    height: 40px;
    border-color: transparent;
    border-radius: 25px;
    color: var(--color-bright-font);
    
}

.auth-form-title-label{
    font-size: 35px;
}

.auth-form-input::placeholder {
    color: var(--placeholder-color, gray);
}
  
.input-error {
    border: 2px solid red;
}


