@import url('https://fonts.googleapis.com/css?family=PT+Sans');
:root{
  --color-orange: #f39800;
  --color-orange-hover: #d88a03;
  --color-background: #141a23;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  color: #f39800;
}

.home{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
}

.content-with-friends {
  display: flex;
  flex: 1;
  position: relative;
  height: 100vh;
}

.content {
  flex: 1;
}