.dropdown {
    min-width: 300px;
    position: relative;
    user-select: none;
    font-size: 24px;
}

#arrow-down {
    padding-left: 10px;
}

.dropdown .dropdown-button {
    padding: 10px 15px;
    background-color: var(--color-secondary-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown .dropdown-content {
    position: absolute;
    z-index: 999 !important;
    padding: 10px;
    width: 100%;
    background-color: var(--color-secondary-background);
}

.dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
    background: var(--color-tertiary-background);
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-bar-container {
    display: flex;
    align-items: center;
}

.dropdown-wrapper {
    display: flex;
    max-width: 1120px;
    width: 85%;
    justify-content: flex-start;
}

#magnifying-glass {
    font-size: 40px;
}
