.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    right: 5px;
    list-style: none;
    text-align: start;
    z-index: 999;
}

.dropdown-menu li {
    background: var(--color-secondary-background);
    cursor: pointer;
}

.dropdown-menu li:hover{
    background: var(--color-tertiary-background);
}

.dropdown-menu.clicked{
    display: none;
}

.profile-dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 16px;
}
.profile-dropdown-log-out{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 16px;
    color: var(--color-red);
    font-weight: bold;
}