.chat-window {
    width: 450px;
    height: 500px;
    border: 1px solid var(--color-orange);
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 252px;
    bottom: 0; 
    z-index: 1000;
    background-color: #303336;
    transition: right 1s ease; 
}

.friends-list.shrunk ~ .chat-window {
    right: 62px; 
}

.chat-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--color-orange);
}

.chat-header span {
    font-weight: bold;
}

.close-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.close-button:hover {
    font-weight: bold;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-bubble {
    max-width: 80%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    color: black;
}

.chat-bubble.me {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #cbfacb;
    align-self: flex-end;
    margin-right: 10px;
}

.chat-bubble.friend {
    display: flex;
    align-items: flex-start; 
    background-color: #fdf4e3;
    align-self: flex-start;
    margin-left: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-word;
    padding: 10px;
}

.chat-bubble.friend .friend-image {
    margin-right: 10px;
    flex-shrink: 0;
}

.chat-bubble.friend .friend-text {
    max-width: calc(100% - 50px); 
    display: block;
    word-wrap: break-word;
    word-break: break-word;
}

.chat-input-container {
    display: flex;
    border-top: 1px solid var(--color-orange);
    padding: 10px;
}

.chat-input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    color: black;
}

.chat-input-container button {
    padding: 5px 8px;
    margin: 5px 0px;
    border: none;
    background-color: var(--color-orange);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.friend-chat-image {
    margin-top: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}