.find-players{
    padding: 1rem;
    background: #141a23;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 76vh;
}
.find-players-wrapper{
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.find-players-form{
    height: 8vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2f47;
    border-radius: 40px;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
}

.find-players-select{
    width: 180px;
    height: 30px;
    border-radius: 10px;
    color: black;
    border-color: transparent;
}

.find-players-select:focus{
    outline: none!important;
}

.find-players-input{
    width: 230px;
    height: 45px;
    padding: 10px 15px;
    font-size: 24px;
    border-style: none;
    background-color: #10161f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

option{
    color: black;
    border-radius: 4px;
}


.find-players-input:focus{
    outline: none!important;
}

.game-specific-options{
    display: flex;
    gap: 10px;
}

.found-players{
    padding-top: 20px;
    height: 80%;
    width: 64%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 3;
    gap: 20px;
}

.find-players-search-button{
    background-color: transparent;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-color: var(--color-orange);
    border-radius: 25px;
    color: white;
}