.find-players {
    padding: 1rem;
    background: #141a23;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  .find-players-wrapper {
    padding-top: 1rem;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .find-players-form {
    flex: 1 1 auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2f47;
    border-radius: 40px;
    padding: 1rem 2rem;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    flex-wrap: nowrap;
  }
  
  .find-players-input {
    width: 230px;
    height: 50px;
    padding: 10px 15px;
    font-size: 1rem;
    border-style: none;
    background-color: #10161f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 5px;
  }
  
  .find-players-input:focus {
    outline: none !important;
  }
  
  .find-players-search-button {
    background-color: transparent;
    font-size: 1rem;
    width: 100px;
    height: 40px;
    border-color: var(--color-orange);
    border-radius: 25px;
    color: white;
    cursor: pointer;
  }
  
  .found-players {
    flex: 2 1 auto;
    padding-top: 20px;
    width: 100%;
    max-width: 64%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  @media (max-width: 768px) {
    .find-players-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .find-players-form {
      width: 100%;
      padding: 1rem;
      width: 400px;
      max-width: 500px;
    }
  
    .form-container {
      flex-direction: column;
      gap: 15px;
    }
  
    .find-players-input {
      width: 100%;
      font-size: 1rem;
      width: 300px;
      max-width: 450px;
    }
  
    .find-players-search-button {
      width: 100%;
      font-size: 1rem;
      width: 100px;
      max-width: 450px;
    }
  }
  