.game-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 80px;
}

.game-modal-wrapper {
    width: 50vw;
    min-width: 600px;
    max-width: 800px;
    height: 590px; 
    border-radius: 20px;
    background-color: var(--color-background);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 30px;
    justify-content: center;
    text-align: center;
}

.game-modal-container {
    display: flex;
}

.game-modal-content {
    width: 100%;
    height: 530px; 
}

.game-modal-content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 15%;
}

.game-modal-content-wrapper {
    height: 84%; 
    display: flex;
    background-color: var(--color-secondary-background);
    border-radius: 15px;
    gap: 10px;
}

.game-modal-content-stats {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #555 #221e1e;
}

.game-modal-content-stats::-webkit-scrollbar {
    width: 8px;
}

.game-modal-content-stats::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

.game-modal-content-stats::-webkit-scrollbar-track {
    background-color: #221e1e;
}

.game-modal-content-right-side {
    width: 45%;
    height: 100%;
}

.game-modal-content-picture {
    width: 100%;
    height: 70%;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.game-picture {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.game-modal-content-buttons {
    width: 100%;
    height: 30%;
    padding-right: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

.game-button {
    background-color: transparent;
    font-size: 1.25rem;
    width: 120px;
    height: 40px;
    border-color: var(--color-orange);
    border-radius: 25px;
    color: white;
}

.game-stat {
    width: 100%;
    height: 50px;
    background-color: var(--color-tertiary-background);
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 25px;
}

.game-stats {
    min-width: 150px;
    height: 190px;
    display: flex;
    flex-direction: column;
}

.stats-text {
    font-size: 1.5rem;
}

.game-modal-close-button {
    width: 10px;
    padding-top: 10px;
}

.modal-close-mark {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

#leagueoflegends {
    background-image: url('../../../../assets/resources/leaguelogo.png');
}
