.game-modal-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-modal-container{
    width: 50vw;
    height: 500px;
    border-radius: 20px;
    background-color: #1b1818;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.game-modal-content-wrapper{
    display: flex;
}

.game-modal-content{
    width: 100vw;
    height: 480px;
}

.game-modal-content-title{
    display: flex;
    justify-content: center;;
    align-items: center;
    font-size: 40px;
    height: 20%;
}

.game-modal-conent-stats{
    height: 80%;
    display: flex;
    background-color: #221e1e;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.game-stats{
    min-width: 150px;
    height: 190px;
    display: flex;
    flex-direction: column;
}

.stats-icon{
    font-size: 100px;
}

.stats-text{
    font-weight: bold;
    font-size: 40px;
}

.game-modal-close-button{
    padding-top: 10px;
}

.modal-close-mark{
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}